body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-content: center;
}
.titulo {
  text-align: center;
  margin-top: 65px;
  font-size: 40px;
}

.menu-h {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.menu-item {
  margin-top: 30px;
  background-color: white;
  padding: 20px 30px;
  text-decoration: none;
  color: black;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  justify-items: center;
  max-width: 1000px;
}

.descri {
  display: grid;
  background-color: white;
  padding: 50px;
  text-align: right;
  align-content: center;
  justify-items: end;
  gap: 25px;
}

.info {
  background-color: white;
}

.vantagens {
  font-size: 64px;
  display: flex;
  text-align: end;
  left: 80px;
  color: #c6c6c6;
  font-weight: bold;
  align-self: center;
  padding: 20px;
}

.bike {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 40px;
}

.grid p {
  grid-column: 2;
}

.grid img {
  align-self: center;
}

p {
  font-size: 20px;
}

.botao {
  color: white;
  background-color: #ee2211;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
}
footer {
  text-align: center;
}

.linha {
  font-weight: bold;
  font-size: 30px;
  color: #ee2211;
  position: relative;
  left: 85px;
}

h3,
p {
  margin: 0px;
}

.rodape {
  background: rgb(250, 250, 250);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}
