body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-content: center;
  background: #130912
}

.main{
  color: #f6921d;
  background-color: #60274994;
  padding:20px ;
  display: grid;
  gap: 20px;
  text-align: center;
  border-radius: 2px;
  width: 400px;
 
}

h1,footer{
  text-align: center;
  color: white;
  
}

.button{
  text-align: center;
  padding: 0.9rem 1.5rem;
  background:#f6921d;
  border: none;
  box-shadow: 1px 2px 14px 1px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.button:hover{
  background-color:#b14623 ;
  transition: 0.5s;
}

#img{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: none;

}